<nav class="category-nav">
	<form class="std">
	  <fieldset>
	    <select class="std" name="" id="depts">
	      <option value="">Shop For &hellip;</option>
	      <option value="">Phasers</option>
	      <option value="">Tricorders</option>
	      <option value="">Communicators</option>
	    </select>
	    <select disabled name="" id="categories">
	      <option value="" selected>Shop For &hellip;</option>
	      <option value=""></option>
	      <option value=""></option>
	      <option value=""></option>
	    </select>
	    <button class="btn primary">Go</button>
	  </fieldset>       
	</form>
</nav> <!-- end category-nav -->
