<footer class="footer-main">

  <div class="call-us centered serif">
      Call Us: <a href="callto:8888794627">1-888-879-4627</a>
  </div>

  <nav>
    <ul class="horizontal-list clearfix">
      <li><a href="#">Support</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Terms</a></li>
      <li><a href=#>Contact</a><li>
    </ul>
  </nav>

  <div class="centered">
    <span>&reg;2004 - 2012</span>
    <span>Green Mountain Coffee Roasters, Inc.</span>
    <span>All rights reserved.</span>
    <span><a href="">Go to Full Site</a></span>
  </div> 

</footer> <!-- end footer-main -->