    <header class="header-main">

      <div class="corset top clearfix">
        <div id="logo">
          <a href="/">Green Mountain Coffee Roasters</a>
        </div>
        
        <nav>
          <a class="btn-cart" href="">Cart</a>
          <a class="btn-profile" href="">Sign In</a>
        </nav>
      </div> <!-- end corset -->

    </header> <!-- end header-main -->

    <div class="search-box clearfix">
      <div class="corset">
        <form class="std search">
          <fieldset>
            <input class="serif italic" type="text" name="search" placeholder="Product Search">
            <button class="search" type="submit">Search<span></span></button>
          </fieldset>
        </form>
        <a class="btn btn-pill" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      </div> <!-- end corset -->
    </div> <!-- end search-box -->
